 
body{background: url(bg-projets.png);}

h5{ color:#f1d4ae;
font-size: 40px;
  display: flex;
  flex-direction: column;
 /* centre horizontalement */
  /* centre verticalement */
  text-align: center; 
  margin:5px ;
}
h4{color:#fdfdfd;
font-size: 15px;
  display: flex;
  flex-direction: column;
 /* centre horizontalement */
  /* centre verticalement */
  text-align: center; 
  margin:5px ;
}
#projetsContainer {
  display: flex;
  overflow-x: auto;
  gap: 20px;
  padding: 10px;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.projet {
  scroll-snap-align: start;
}


.projet {
  min-width: 250px;
  max-height: 220px;
  background: rgba(255,255,255,0.1);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  color: #fff;
  flex-shrink: 0;
}

.projet img {
  max-height: 100px;
  width: auto;
  border-radius: 10px;
  object-fit: cover;
}
   .projet {
   transition: transform 0.3s ease;
   cursor: pointer; /* optionnel, pour montrer que l'image est interactive */
   }
        
  .projet:hover {
   transform: scale(1.4); /
   }
#carouselDiv button {
  background-color: #f1d4ae;
  border: none;
  padding: 8px 12px;
  border-radius: 8px;
  cursor: pointer;
  color: #000;
  font-weight: bold;
  margin:10px;
}

@media (max-width: 768px) {
  #carouselDiv button {
    display: none;
  }
}
.projets {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 2 colonnes fixes */
  gap: 30px;
  padding: 40px;
  max-width: 800px;
  margin: 0 auto;
  justify-items: center;  /* Centrer horizontalement */
  align-items: center;    /* Centrer verticalement */
           
  }  
    .projet1{
  background-color: #f1d4aea5;
  display: block;
   border: outset;
   border-radius: 10px;
   width: 100%;
   height: 100%;
   padding: 0;
   overflow: hidden; text-align: center;
      
   }  
   .projet1 {
   transition: transform 0.3s ease;
   cursor: pointer; /* optionnel, pour montrer que l'image est interactive */
   }
        
  .projet1:hover {
   transform: scale(1.7); /
   }
img {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin: 5px;
    border-radius: 10px;

}
h7{
  color:rgb(71, 116, 213);
font-size: 20px;
}